body{
    background-image: url('/static/images/admin1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    color: black;
}
label h1{
    text-align: center;
    font-weight: bold;
    color: red;
}
 nav{
    text-align: left;
}
body nav a{
    color: black;
    font-size:xx-large;
}
