<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/admin_dashboard.css">
    <title>Admin Page</title>
</head>
<body>
    <label><h1>ADMIN</h1></label><br><br><br><br>
    <nav>
        <h2>Choose one:</h2>
        <a href="add_teacher">Add Teacher</a><br><br>
        <a href="view_teachers">View Teachers</a><br><br>
        <a href="add_student">Add Student</a><br><br>
        <a href="view_students">View Students</a><br><br>
        <a href="add_exam">Add Exam</a><br><br>
        <a href="view_exams">View Exams</a><br><br>
        <a href="main"> Go to Login Page</a>
    </nav>
</body>
</html>