<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>K.N.R EM SCHOOL</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        
        <nav>
            <label><h1>  K.N.R EM SCHOOL<br><h5>  1st Class to 10th Class, Bhimavaram</h5></h1></label>
            
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/main" Class="btn btn-success">LOGIN</a></li>
        </ul>
        <img class="main_img" src="{{url_for('static',filename='images/home.jpg')}}" alt="Buliding Image">
        <label class="img_text"><h2>Education is the way of Bright Future</h2> </label>
        </nav>

        <div class="section1">
            <!-- <img class="main_img" src="{{url_for('static',filename='images/building.jpg')}}" alt="Buliding Image"> -->
            

        </div>
     
   
    </header>
</body>
</html>